.reference-section {
  margin: 0 4em 2em 4em;
  display: flex;
  flex-direction: row;
}

.reference-section .header {
  flex-basis: 240px;
}

.reference-form {
  margin: 1em 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1em;
}

.reference-form label {
  font-weight: bold;
  margin-top: 1em;
}

.reference-form button {
  margin-left: 0;
}

.reference-form input {
  width: 205px;
}

.reference-container {
  padding: 1em 3em;
}

.reference-name {
  font-weight: bold;
  font-size: 1.3em;
}
.reference-email {
  font-style: italic;
  margin: .5em 0;
}

.reference {
  margin: 1em 0;
}