.reference-section {
  margin: 0 4em 2em 4em;
  display: flex;
  flex-direction: row;
}

.reference-section .header {
  flex-basis: 240px;
}

.reference-form {
  margin: 1em 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1em;
}

.reference-form label {
  font-weight: bold;
  margin: 1em 0 .5em 0;
}

.reference-form button {
  margin-left: 0;
  align-self: center;
  margin-top: 1em;
  font-size: 1em;
  width: 150px;
}

.reference-form input {
  font-size: 1em;
}

.reference-container {
  padding: 1em 3em;
}

.reference-name {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: .3em;
}
.reference-email {
  font-style: italic;
  margin: .5em 0;
}

.reference {
  margin: 1em 0;
}

.reference-edit-form label {
  display: none;
}

.reference-edit-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reference-edit-form button  {
  height: 22px;
}

.reference-edit-form input {
  margin-right: .5em;
}

.edit-name {
  font-size: 1.2em;
  height: 18px;
}

.edit-relationship, .edit-email, .edit-phone {
  font-size: 1em;
  height: 14px;
}

.edit-email  {
  margin: .5em 0;
  width: 250px;
}
