.skills-section {
  margin: 2em 4em;
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  border-bottom: 1px solid black;
  padding-bottom: 2em;
}


::placeholder {
  font-style: italic;
}


.hidden {
  display: none;
}

.skills-container {
  width: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.skill {
  background-color: #6fc8f1;
  padding: 1em;
  border-radius: 1em;
  margin: .5em;
}

.skill:first-of-type {
  margin-left: 0;
}
