.skill-section {
  margin: 2em 4em;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  padding-bottom: 2em;
  box-sizing: border-box;
}

.no-preview {
  min-height:150px;
}

.skill-section .header {
  flex-grow: 1;
  flex-basis: 225px;
}

.skill-section label {
  display: none;
}

.skill-section input {
  width: 200px;
  font-size: 1em;
  margin-right: 1em;
  padding-left: .3em;
}

.skill-form {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.skill-form button {
  align-self: center;
  font-size: 1.2em;
  padding: .1em .5em .2em .5em;
}

.skill-container-no-preview {
  width: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex-grow: 2;
}

.skill-container {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.skill {
  background-color: #b7e4f8;
  color: #265d77;
  font-weight: bold;
  border-radius: 1em;
  margin: .5em .5em .5em 0;
  padding: .7em;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}

.skill-no-preview:hover {
  background-color: #b1bbc0;
}

