.work-section {
  margin: 0 4em 2em 4em;
}

.work-container {
  margin-top: .5em;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 2em;
}

.work {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.work-form {
  margin: 2em 3em; 
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1em;
}

.work-form label {
  font-weight: bold;
  margin: 1em;
}

.cancel-button {
  width: 30px;
  font-size: 1em;
}

.work-input {
  width: 95%;
  align-self: center;
  font-size: 1em;
  padding-left: .5em;
}

.date-container {
  align-self: center;
  margin: 3em 0 2em 0;
  display: flex;
  flex-direction: row;
}

.date-input {
  font-size: 1em;
}

.create-work-btn {
  margin-top: 1em;
  height: 25px;
  width: 150px;
  font-size: 1em;
  align-self: center;
}

.organization, .organization-input {
  font-weight: bold;
  font-size: 1.3em;
  margin: .9em 0;
}

.position, .position-input {
  font-style: italic;
  font-size: 1.1em;
}

.timing {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .9em;
  margin: .8em 0;
}

.work-input.description  {
  border: 1px solid grey;
  border-radius: .5em;
  resize: none;
  font-family: 'IBM Plex Mono', monospace;
}

.edit-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-input label {
  display: none;
}

.edit-input button {
  margin: 0 .5em;
  font-size: .8em;
  height: 28px;
}

.organization-input {
  height: 18px;
}

.position-input {
  height: 18px;
}

.from-input, .to-input {
  font-size: .9em;
}

.description-input {
  resize: none;
  font-size: 1em;
  font-family: 'IBM Plex Mono', monospace;
  width: 650px;
  height: 300px
}